[submodule "tasks/common"]
	path = tasks/common
	url = git@github.com:abugher/ansible-common-tasks.git
[submodule "inventory"]
	path = inventory
	url = git@github.com:abugher/ansible-inventory.git
[submodule "environment"]
	path = environment
	url = git@github.com:abugher/ansible-environment.git
[submodule "sensitive"]
	path = sensitive
	url = ansible@files:/storage/control-center/sensitive-ansible-role-transmission.git
[submodule "sensitive-inventory"]
	path = sensitive-inventory
	url = ansible@files:/storage/control-center/sensitive-ansible-inventory.git
