# m     h       dom     mon     dow     user                    command
{{ blocklist_minute }}      {{ blocklist_hour }}      *       *       *       debian-transmission     /usr/local/bin/update_transmission_blocklist_cronjob
